<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <title> Demo Project </title>
   
    </head>
    <body
	<div>
		
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white position-relative">
			<a class="navbar-brand" href="/">Twitter Sentimanet Analysis Demo!</a>
		</nav>
		
		</br></br>
		
		<div class="container-fluid col-12">
			<form action="/get_tweets", method="POST" class="form-inline">
			<div class="container-fluid">			
				<button class="btn"><label for="hashtag">Enter Hashtag:</label></button>
				<button class="btn"><i class="fa fa-twitter"></i></button>
				<input type="text" class="col-8" placeholder="Enter hashtag" name="hashtag">
				<button type="submit" class="btn btn-primary col-2">Find</button>
			</div>
			</form>
		</div>
		</center>
		
	</div>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
